[package]
name = "link_cleaner_wasm"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
link_cleaner_core.workspace = true
wasm-bindgen.workspace = true
